# MQTT Settings
mqtt:
  broker: 192.168.1.102
  port: 1884
  username: xxxx
  password: xxxx
  qos: 2
  retain: true
  discovery: true
  discovery_prefix: homeassistant
  topic_prefix: inception
  availability_topic: inception/available
  alarm_code: '1234'

# Inception area config
inception:
  - base_url: http://192.168.1.188/api/v1
    port: 80
    username: exampleUser
    password: examplePassword
    polling_timeout: 60
    polling_delay: 60
